<p>
  <b>Descriptiontext:</b>
  <%= @description.text %>
</p>

<%= link_to 'Edit', edit_description_path(@description) %> |
<%= link_to 'Back', descriptions_path %>
<%= link_to 'Back to books', books_path %>
<%= link_to 'Back to editions', editions_path %>

