<h2>Användare</h2>

<%= form_tag('javascript:void(0)', :class => 'search-form') do %>

<label for="search">Sök:</label>
<div class="searchfield">
    <%= text_field_tag 'search', @search %>
    <br>
    <%= image_tag 'loading.gif', :id=>'spinner', :style=>"display:none" %>
</div>

<%= observe_field :search,
                    :frequency => 0.5,
                    :update    => 'ajaxWrapper',
                    :before    => "Element.show('spinner')",
                    :complete  => "Element.hide('spinner')",
                    :url       => { :action => 'usersearch', :only_path => false },
                    :with      => "'usersearch=' + encodeURIComponent(value)" %>
<% end %>

<div id='ajaxWrapper'>
    <%= render :partial=>'shared/usersearch' %>  
</div>
