<h1>Listing counties</h1>
<table>
    <tr>
        <th>
            Name
        </th>
    </tr>
    <% for county in @counties %>
    <tr>
        <td>
            <%= county.name %>
        </td>
        <td>
            <%= link_to 'Show', county %>
        </td>
        <td>
            <%= link_to 'Edit', edit_county_path(county) %>
        </td>
        <td>
            <%= link_to 'Destroy', county, :confirm => 'Are you sure?', :method => :delete %>
        </td>
    </tr>
    <% end %>
</table>
<br/>
<%= link_to 'New county', new_county_path %>
