<%= error_messages_for :library %>
<%= form_for(@library) do |f| %>
<label for="library_name">
    Namn:
</label>
<%= f.text_field :name %>
<label for="library_county_id">
    Län:
</label>
<%=@counties = County.order("name")
f.collection_select(:county_id, @counties, :id, :name,:prompt => "Select County") %>
<label for="library_userinfolink">
    Användares infolänk:
</label>
<%= f.text_field :userinfolink %>
<label for="library_infolink">
    Bibliotekets infolänk:
</label>
<%= f.text_field :infolink %>
<label for="library_bookinfolink">
    Bibliotekets bok-infolänk:
</label>
<%= f.text_field :bookinfolink %>
<label for="library_abuse_email">
    Missbruksanmälan:
</label>
<%= f.text_field :abuse_email %>
<label for="library_dev_key">
    Utvecklarnyckel:
</label>
<%= f.text_field :dev_key %>
<div id="form-buttons">
    <%= f.submit action, :value => 'Spara ändringar' %>
</div>

<% end %>
<%= link_to 'Tillbaka', :controller => :libraries, :action => :librarysearch %>
