<h1>Listing books</h1>

<table>
  <tr>
    <th>Booktitle</th>
    <th>Authorfirstname</th>
    <th>Authorlastname</th>
  </tr>

<% for book in @books %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.authorfirstname %></td>
    <td><%= book.authorlastname %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New book', new_book_path %>
<%= link_to 'Back', books_path %>
<%= link_to 'Login' , new_session_path %>
<%= link_to 'Logout' , session_path, :method => :delete %>
