<h1>Listing signums</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for signum in @signums %>
  <tr>
    <td><%= signum.name %></td>
    <td><%= link_to 'Show', signum %></td>
    <td><%= link_to 'Edit', edit_signum_path(signum) %></td>
    <td><%= link_to 'Destroy', signum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New signum', new_signum_path %>
