<h1>New signum</h1>

<%= error_messages_for :signum %>

<%= form_for(@signum) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', signums_path %>
