<h1>New targetgroup</h1>

<%= error_messages_for :targetgroup %>

<%= form_for(@targetgroup) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', targetgroups_path %>
